.mpg-table {
  max-width: max-content;
}

.csv-table {
  width: -webkit-fill-available;
}

.wrap {
  width: 100%;
  display: flex;
  .left {
    float: left;
    width: 20%;
    border: 0.5px solid #ececec;
    border-bottom: none;
    box-shadow: none;
  }

  .right {
    float: right;
    width: 80%;
    height: 65vh;
    display: flex;
    flex-direction: row;
  }
}

mat-toolbar-row {
  justify-content: center;
  align-items: flex-end;
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.87);
}

.loading__center{
  margin-top: 20%;
  position: absolute;
  margin-left: 40%
}

mat-card {
  padding: 0;
}

.mat-column-MPG {
  min-width: max-content;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-cylinders {
  padding-left: 16px;
}

.no__date {
  text-align: center;
  padding-top: 15%;
  padding-left: 30%;
  font-size: medium;
}

/*Should be moved to upload-scv */
.card__button--right {
  .icon-upload {
    font-size: large;
  }
}

::-webkit-file-upload-button {
  display: none;
}

.file-upload {
  padding-top: 5%;
  padding-left: 10%;
  font-weight: bold;
}

.valid-file {
  color: darkslategray;
}

.invalid-file {
  color: red;
}

.container {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-end;
  padding-left: 15%;
  padding-top: 15%;
}
