<gridster [options]="config">
  <button mat-icon-button (click)="addItem()"><mat-icon>add_circle_outline</mat-icon>ADD</button>
  <gridster-item [item]="item" *ngFor="let item of items; index as i">
    <div class="item-container">
      <button mat-icon-button (click)="removeItem(item)"><mat-icon>delete_forever</mat-icon></button>
      <div class="item-mock">
        <app-line-chart></app-line-chart>
        <h4>item {{ i + 1 }}</h4>
        c:{{ item.cols }} r:{{ item.remove }}
      </div>
    </div>
  </gridster-item>
</gridster>
