h2 {
  margin-left: 5px;
  color: white;
}

mat-icon {
  color: white;
}

.sub-title {
  color: #898484;
  margin-left: 10px;
}
.sub-title::selection {
background-color: #232f3e;
}

mat-toolbar {
  background-color: #232f3e;
}
