.card__button--right {
  .icon-upload {
    font-size: large;
  }
}

::-webkit-file-upload-button {
  display: none;
}

.file-upload {
  padding-top: 2%;
  padding-left: 10%;
  font-weight: bold;
}

.valid-file {
  color: darkslategray;
}

.invalid-file {
  color: red;
}

.container {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-end;
  padding-left: 15%;
  padding-top: 15%;
}
