.card__button--right {
  background-color: goldenrod;
  .icon-upload {
    font-size: large;
  }
}

::-webkit-file-upload-button {
  display: none;
}

.file-upload {
  padding-top: 2%;
  padding-left: 10%;
  font-weight: bold;
}

.valid-file {
  color: darkslategray;
}

.invalid-file {
  color: red;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}


